@charset "utf-8";
/* CSS Document */
@-ms-viewport {
    width: device-width;
}

@font-face {
    font-family: 'cursive';
    src: url('../fonts/cursive.ttf');
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    /* [disabled]box-sizing: border-box; */
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: none;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    /*overscroll-behavior-y: none;*/
}

#logo {
    width: 10%;
    height: auto;
    margin-left: 40px;
}

.logoname {
    font-family: 'cursive';
    font-size: 3.3em;
    color: red;
}

.info-box {
    border: 3px solid #ccc;
    /*
    width: 80%;
    height: 250px;
    padding: 20px;
    margin-top: 40px;
    */
    height: 220px;
    padding: 30px;
    margin-top: 40px;
}

.mainwrapper {
    width: 100%;
    min-height: 100%;
    /* overflow: auto; */
    position: relative;
    margin: auto;
    border:0px solid black;
}

.section1 {
    width: 80%;
    min-width:320px;
    height: auto;
    position: relative;
    /* overflow: auto; */
    margin:auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3%;
    padding-bottom: 50px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.section2 {
    width: 100%;
    height: auto;
    position: relative;
    /* overflow: auto; */
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 4%;
    padding-bottom: 50px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

textarea {
    resize: none;
}

header > .navbar {
    background-color: #478166;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

.footerlinks{
    font-size:90%;
}

.footerlinks li{
    margin-right:20px;
}

.footerlinks li a{
    color:black;
    text-decoration:none;
}

.footerlinks li a:hover{
    text-decoration: none;
    color:grey;
}

.socialicons{
    font-size:100%;
}

.socialicons li{
    padding-right: 30px;
}

.socialicons li a{
    color:grey;
    text-decoration:none;
}

.socialicons li a:hover{
    text-decoration: none;
    color:black;
}

/* Footer */
/* Wrapper for page content to Push down footer */
main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -190px;
}

/* Set the fixed height of the footer here */
#Push,
#footer {
    height: 190px;
}

.footer-logo {
    color: #ccc;
    font-family: 'cursive';
}

#footer2 {
    width: 100%;
    height: auto;
    background-color: black;
    text-align: left;
    padding-top:20px;
    padding-bottom:20px;
    font-size: 100%;
    color: white;
}

#footer2 a, #footer2 a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.error-msg {
    /* color: #FA0E20; */
    color: orangered;
    margin-top: 10px;
    font-size: .8em;
    font-weight: 700;
    display: block;
}

/*Loader background*/
.loading {
    width: 100%;
    height: 100%;
    background-color: rgba(204, 204, 204, .8);
    /* background-color: rgba(13, 16, 21, .8); */
    /*background-color: rgba(255, 255, 255, .99);*/
    position: fixed;
    /*border: 1px solid red;*/
    z-index: 9999;
    display: none;
    /*visibility: hidden;*/
    top: 0;
}

.animated-ellipsis {
    width: 20%;
    height: 100px;
    margin: auto;
    top: 40vh;
    /*left: 40%;*/
    text-align: center;
    /*display: flex;*/
    display: block;
    align-items: center;
    /*border: 3px solid black;*/
    position: relative;
}

.await {
    text-align: center;
    width: 10%;
    height: auto;
    padding: 5px;
    /* border: 1px solid black; */
    margin: auto;
    display: block;
    align-items: center;
    top: 40vh;
    left: 45%;
    font-weight: bolder;
    position: absolute;
}

/* Animated ellipsis*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  /*left:  40px;*/
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  /* background: #fff; */
  background: rgba(247,79,96,1);
  /*background: #403340;*/
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* Based on Bootstrap Grid System:
/* XS */
@media only screen and (max-width: 768px){   /*and (min-width: 320px)*/
    .section2 {
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .info-box {
        height: auto;
    }
}

/* SM */
@media only screen and (min-width: 768px) and (max-width: 992px){
    .info-box {
        height: auto;
    }
}

/* MD */
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .info-box {
        height: 250px;
    }
}

/* LG */
@media only screen and (min-width: 1200px){
}

